body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* Foreground, Background */
  scrollbar-color: rgb(100 116 139) rgb(226 232 240);
}
*::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
*::-webkit-scrollbar-thumb {
  /* Foreground */
  background: rgb(100 116 139);
}
*::-webkit-scrollbar-track {
  /* Background */
  background: rgb(226 232 240);
}

[data-amplify-authenticator] {
  background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url('../public/demo.webp');
  background-position: center;
  background-repeat: no-repeat;
}
